@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

.max-w-2xl {
  max-width: 80%;
}

.home-items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
}

.home-item {
  width: 400px;
  font-size: 2em;
  display: flex;
  justify-content: center;
  margin: 20px;
  font-weight: bold;
}
.tapi-blue {
  background-color: #DFEEEE;
}
.tapi-yellow {
  background-color: #FEF9C4;
}
.tapi-pink {
  background-color: #F9E2DB;
}

.sheduler-actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:  flex-start;
}